.stem{
    background-color: brown;
    width: 15px;
    height: 25px;
    position: absolute;
    top:100px;
    left: 115px;
}

.orangebody  {
    background-color: orange;
    height: 150px;
    width: 200px;
    position: absolute;
    top: 115px;
    left: 25px;
}
.eye1 {
background-color: black;
width: -25px;
height: -25px;
}
.eye2 {
background-color: black;
width: 25px;
height: 25px;
}
.nose {
background-color: black;
width: 15px;
height: 15px;
}
.mouth {
background-color: black;
width: 150px;
height: 25px;
}