.stem {
    background-color:brown;
    height: 90px;
    width: 50px;
    position:absolute;
    top: 170px;
    left: 215px;
}

.orangebody {
    background-color:orange;
    height: 330px;
    width: 400px;
    position: absolute;
    top: 230px;
    left: 50px;
    border-radius: 60%;
}

.eye1 {
    background-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 300px;
    left: 290px;
    border-radius: 100%;
}

.eye2 {
    background-color: black;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 300px;
    left: 150px;
    border-radius: 100%;
}
.mouth {
    background-color: black;
    width: 300px;
    height: 75px;
    position: absolute;
    top: 400px;
    left: 100px;
    border-radius: 40%;

}
