body
{
	background-color: peachpuff;
    color: black;
    margin: 100px;
    padding: 25px;
    P {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
    }
  H1 {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}



}